SQLITE_ENABLE_COLUMN_METADATA=n
SQLITE_OMIT_DECLTYPE=n
FD_CLOEyEC=y
HAVE_LOCALTIME_R=y
HAVE_LOCALTIME_S=y
HAVE_MALLOC_H=y
HAVE_MALLOC_USABLE_SIZE=y
HAVE_POSIy_FALLOCATE=y
HAVE_STDINT_H=y
HAVE_STRERROR_R=y
HAVE_USLEEP=y
NDEBUG=y
NO_GETTOD=y
OS_VyWORKS=y
O_CLOEyEC=y
SQLITE_AMALGAMATION=y
SQLITE_ASCII=y
SQLITE_CHECK_PAGES=y
SQLITE_CORE=y
SQLITE_COVERAGE_TEST=y
SQLITE_DEBUG=y
SQLITE_DEFAULT_FOREIGN_KEYS=y
SQLITE_DEFAULT_MEMSTATUS=y
SQLITE_EBCDIC=y
SQLITE_ENABLE_CEROD=y
SQLITE_ENABLE_EyPENSIVE_ASSERT=y
SQLITE_ENABLE_FTS3=y
SQLITE_ENABLE_FTS4=y
SQLITE_ENABLE_FTS4_UNICODE61=y
SQLITE_ENABLE_ICU=y
SQLITE_ENABLE_IOTRACE=y
SQLITE_ENABLE_LOCKING_STYLE=y
SQLITE_ENABLE_MEMORY_MANAGEMENT=y
SQLITE_ENABLE_MEMSYS3=y
SQLITE_ENABLE_MEMSYS5=y
SQLITE_ENABLE_OVERSIZE_CELL_CHECK=y
SQLITE_ENABLE_RTREE=y
SQLITE_ENABLE_SQLLOG=y
SQLITE_ENABLE_TREE_EyPLAIN=y
SQLITE_ENABLE_UPDATE_DELETE_LIMIT=y
SQLITE_ENABLE_WHERETRACE=y
SQLITE_HAS_CODEC=y
SQLITE_HAVE_ISNAN=y
SQLITE_HOMEGROWN_RECURSIVE_MUTEy=y
SQLITE_MALLOC_SOFT_LIMIT=y
SQLITE_MEMDEBUG=y
SQLITE_MSVC_LOCALTIME_API=y
SQLITE_MUTEy_NOOP=y
SQLITE_MUTEy_OMIT=y
SQLITE_NO_SYNC=y
SQLITE_OMIT_ANALYZE=y
SQLITE_OMIT_ATTACH=y
SQLITE_OMIT_AUTOVACUUM=y
SQLITE_OMIT_BLOB_LITERAL=y
SQLITE_OMIT_BUILTIN_TEST=y
SQLITE_OMIT_CAST=y
SQLITE_OMIT_COMPOUND_SELECT=y
SQLITE_OMIT_DEPRECATED=y
SQLITE_OMIT_DISKIO=y
SQLITE_OMIT_EyPLAIN=y
SQLITE_OMIT_FLOATING_POINT=y
SQLITE_OMIT_FOREIGN_KEY=y
SQLITE_OMIT_LOAD_EyTENSION=y
SQLITE_OMIT_OR_OPTIMIZATION=y
SQLITE_OMIT_PAGER_PRAGMAS=y
SQLITE_OMIT_PRAGMA=y
SQLITE_OMIT_SHARED_CACHE=y
SQLITE_OMIT_SUBQUERY=y
SQLITE_OMIT_TRACE=y
SQLITE_OMIT_TRIGGER=y
SQLITE_OMIT_VACUUM=y
SQLITE_OMIT_VIEW=y
SQLITE_OMIT_VIRTUALTABLE=y
SQLITE_OMIT_WAL=y
SQLITE_RTREE_INT_ONLY=y
SQLITE_SMALL_STACK=y
SQLITE_SYSTEM_MALLOC=y
SQLITE_TCL=y
SQLITE_TEST=y
SQLITE_THREADSAFE=y
SQLITE_WITHOUT_MSIZE=y
SQLITE_WITHOUT_ZONEMALLOC=y
SQLITE_ZERO_MALLOC=y
STRERROR_R_CHAR_P=y
TCLSH=y
THREADSAFE=y
TRANSLATE_TRACE=y
USE_PREAD=y
USE_PREAD64=y
VDBE_PROFILE=y
YYERRORSYMBOL=y
YYNOERRORRECOVERY=y
fdatasync=y
